/* ---------google font---------*/
 *{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
 }
 body{
  font-family: 'Roboto', sans-serif;
 }
 .section-padding{
  padding-bottom: 60px;
 }
 /* Home section css */
 .container{
  width: 900px;
 }
 .home_area{
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  padding: 0 50px;
  margin-top: 100px;
  color: #fff;
  position: relative;
 }
 .home_area::before{
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  background: red;
  bottom: 10px;
  left: 20px;
  border-radius: 50%;
  animation: sliding 1s ease-in-out .1s infinite alternate;
  animation-play-state: running;  
 }
 /* animation */
 @keyframes sliding{
  0%{
    background-color: aqua;
    left: 0;
  }
  100%{
    background-color: blue;
    left: 500px;
  }
 }
 .title_info{
  width: 50%;
  color: #fff;
 }
 .title_info h1{
  font-size: 40px;
 }
 .title_info p{
  font-size: 15px;
  line-height: 23px;
  padding-top: 20px;
 }
 .button{
  background-color: red;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
 }
 .banner{
  width: 50%;
 }
 .banner img{
  width: 100%;
 }
 /* Players Section */
 .flex_box{
  display: flex;
  padding-top: 100px;
 }
 .match_box{
  width: 30%;
  text-align: center;
  padding-right: 12px;
 }
 .ellipsis h4 , .ellipsis_2 h4{
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid ;
  margin-bottom: 10px;
  padding: 3px 10px;
  border-radius: 5px;
 }
 .match_box ul{
  list-style: none;
  background-color: black;
  width: 250px;
  padding-top: 12px;
  padding-bottom: 42px;
  border-radius: 10px;
  margin-left: 0;
 }
 .match_box ul li{
  margin-top: 40px;
 }
 .match_box a{
  text-decoration: none;
 }
 .match{
  background-color: rgb(240, 8, 8);
  padding: 10px 20px;
  border-radius: 15px;
  color: #fff;
  font-weight: 700;
 }
 .group{
  background-color: #fff;
  padding: 10px 55px;
  border-radius: 15px;
  color: black;
  font-weight: 700;
 }
 .blog{
  background-color: #fff;
  padding: 10px 70px;
  color: black;
  font-weight: 700;
  border-radius: 15px;
 }
 .padding{
  padding: 0 50px;
 }
 .grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
  column-gap: 2em;
  width: 70%;
  margin-right: 0;
 }
 .player_image{
  background-color: lightcyan;
  border-radius: 10px;
 }
 .player_image img{
  width: 100%;
 }
 .player_image button{
  margin: 10px 0;
 }
 .player_image p{
  font-size: 15px;
  margin-bottom: 12px;
 }
 .card{
   padding: 0 0 10px 10px; *
 }
 .icon{
  display: flex;
  align-items: center;
 }
 .icon > div{
  margin-left: 0;
  font-size: 12px;
 }
 .veiw{
  text-align: center;
  margin-top: 40px;
  display: none;
 }
 /* Footer section */
 footer{
   background-color: black;
 }
 .goal{
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding-top: 50px;
 }
 .goal_info{
  text-align: center;
  padding-top: 80px;

 }
 .goal_info ul{
  list-style: none;
 }
 .goal_info ul li{
  display: inline;
  padding-right: 30px;
 }
 .goal_info ul li a{
  color: #fff;
  text-decoration: none;
 }
 .font_awesome{
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.font_awesome i{
  margin-right: 20px;
  padding-top: 80px;
}
.font_awesome a{
  text-decoration: none;
  color: #fff;
  transition: .3s;
}
.font_awesome a:hover{
  color: red;
}


/*part-02 upcoming-match style sheet */

.playing_field{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
  column-gap: 2em;
  width: 70%;
  margin-right: 0;
}
.country_name{
  box-shadow: 1px 1px 9px 3px;
}
.country_flag{
  display: flex;
  align-items: center;
  margin: 10px;
}
.vs{
  font-size: 10px;
  margin: 0 5px;
}
.flag img{
  width: 100%;
}
.card_2{
   text-align: center;
}
.card_2 p{
  font-size: 13px;
  color: black;
  font-weight: 700;
}
.card_2 h6{
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
}
/* upcoming match aside box */
.flex_box{
  display: flex;
  padding-top: 100px;
 }
 .match-2{
  width: 30%;
  text-align: center;
 }
 .match-2 ul{
  list-style: none;
  background-color: black;
  width: 200px;
  padding-top: 1px;
  padding-bottom: 32px;
  border-radius: 10px;
 }
 .match-2 ul li{
  margin-top: 20px;
 }
 .match-2 a{
  text-decoration: none;
 }
 .match01 {
  background-color: #fff;
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: 700;
 }
 .group02{
  background-color: #fff;
  padding: 5px 45px;
  border-radius: 15px;
  color: black;
  font-weight: 700;
 }
 .blog03{
  background-color: rgb(229, 13, 13);
  padding: 5px 60px;
  color: #fff;
  font-weight: 700;
  border-radius: 15px;
 }
 .card{
  text-align: center;
 }

 /* Responsive */
 /* Mobile Devies */

 @media only screen and (max-width: 480px){
  .container{
    width: 100%;
  }
  .home_area{
    flex-direction: column;
    margin: 0 auto;
    flex-direction: column-reverse;
  }
  .home_area::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background: red;
    bottom: 10px;
    left: 50px;
    border-radius: 50%;
    animation: sliding 1s ease-in-out .1s infinite alternate;
    animation-play-state: running;
   }
  @keyframes sliding{
    0%{
      background-color: aqua;
      left: 0;
    }
    100%{
      background-color: brown;
      left: 10em;     
    }
  }
  .title_info h1, .title_info p, .title_info button{
    text-align: center;
  }
  /* player section */
  .flex_box{
    flex-direction: column;   
  }
  .match_box, .match-2{
    width: 250px;
    padding-top: 12px;
    padding-bottom: 42px;
    margin-left: 0 auto;
   }
   .match_box ul, .match-2 ul{
    background-color: #fff;
   }
   .group, .group02{
    background-color: black;
    color: #fff;
   }
   .blog, .match01{
    background-color: blue;
    color: #fff;
   }
  .grid{
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin: 0 auto;
  }
  .goal_info ul li{
    display: block;
    text-align: center;
    margin-top: 20px;
    align-items: center;

  }
  .playing_field{
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    margin-top: 20px;
  }
  .veiw{
    display: none;
  }
}

 /* teblate devies */

 @media only screen and (min-width: 481px) and (max-width: 778px) {
  .container{
    width: 100%;
  }
  .home_area::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background: red;
    top: 10px;
    left: 0;
    border-radius: 50%;
    animation: sliding 1s ease-in-out .1s infinite alternate;
    animation-play-state: running;
   }
  @keyframes sliding{
    0%{
      background-color: aqua;
      left: 0;
    }
    100%{
      background-color: brown;
      left: 15em;     
    }
  }
  
  /* player section */
  .flex_box{
    flex-direction: column;
  }
  .match_box{
    margin: 0 auto;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
  }
  .grid{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;
  }
  .player_image img{
    width: 100%;
  }
  .playing_field{
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    margin-top: 20px;
  }
  .veiw{
    display: block;
  }
  .match_box, .match-2{
    width: 250px;
    padding-top: 12px;
    padding-bottom: 42px;
    margin-left: 0 auto;
   }
   .match_box ul, .match-2 ul{
    background-color: #fff;
   }
   .group, .group02{
    background-color: black;
    color: #fff;
   }
   .blog, .match01{
    background-color: blue;
    color: #fff;
   }
  
  }
 
 



