/* ---------google font---------*/
 *{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
 }
 body{
  font-family: 'Roboto', sans-serif;
 }
 .section-padding{
  padding-bottom: 100px;
 }
 /* Home section css */
 .container{
  width: 900px;
 }
 .home_area{
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  padding: 0 50px;
  margin-top: 100px;
  color: #fff;
 }
 .title_info{
  width: 50%;
  color: #fff;
 }
 .title_info h1{
  font-size: 40px;
 }
 .title_info p{
  font-size: 15px;
  line-height: 23px;
  padding-top: 20px;
 }
 .button{
  background-color: red;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
 }
 .banner{
  width: 50%;
 }
 .banner img{
  width: 100%;
 }
 /* Players Section */
 .flex_box{
  display: flex;
  padding-top: 100px;
 }
 .match_box{
  width: 30%;
  text-align: center;
 }
 .match_box ul{
  list-style: none;
  background-color: black;
  width: 250px;
  padding-top: 12px;
  padding-bottom: 42px;
  border-radius: 10px;
  margin-left: 0;
 }
 .match_box ul li{
  margin-top: 40px;
 }
 .match_box a{
  text-decoration: none;
 }
 .match{
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  color: black;
  font-weight: 700;
 }
 .group{
  background-color: #fff;
  padding: 10px 55px;
  border-radius: 15px;
  color: black;
  font-weight: 700;
 }
 .blog{
  background-color: red;
  padding: 10px 70px;
  color: #fff;
  font-weight: 700;
  border-radius: 15px;
 }
 .padding{
  padding: 0 50px;
 }
 .grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
  column-gap: 2em;
  width: 70%;
  margin-right: 0;
 }
 .player_image{
  background-color: lightcyan;
  border-radius: 10px;
 }
 .player_image img{
  width: 100%;
 }
 .player_image button{
  margin: 10px 0;
 }
 .player_image p{
  font-size: 15px;
  margin-bottom: 12px;
 }
 .card{
   padding: 0 0 10px 10px; *
 }
 .icon{
  display: flex;
  align-items: center;
 }
 .icon > div{
  margin-left: 0;
  font-size: 12px;
 }
 /* Footer section */
 footer{
   background-color: black;
 }
 .goal{
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding-top: 50px;
 }
 .goal_info{
  text-align: center;
  padding-top: 80px;

 }
 .goal_info ul{
  list-style: none;
 }
 .goal_info ul li{
  display: inline;
  padding-right: 30px;
 }
 .goal_info ul li a{
  color: #fff;
  text-decoration: none;
 }
 .font_awesome{
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.font_awesome i{
  margin-right: 20px;
  padding-top: 80px;
}


/* upcoming-match style sheet */

.playing_field{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
  column-gap: 2em;
  width: 70%;
  margin-right: 0;
}
.country_name{
  box-shadow: 1px 1px 9px 3px;
}
.country_flag{
  display: flex;
  align-items: center;
  margin: 10px;
}
.vs{
  font-size: 10px;
  margin: 0 5px;
}
.flag img{
  width: 100%;
}
.card_2{
   text-align: center;
}
.card_2 p{
  font-size: 13px;
  color: black;
  font-weight: 700;
}
.card_2 h6{
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
}